<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/assets/css/style_navbar.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<body>
    <div th:fragment="navbar">
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/historico}">Histórico</a>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Sair</button>
            </form>
        </nav>
        <hr/>
    </div>
</body>
</html>