<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/assets/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style_home.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <form th:action="@{/buscar}" method="post">
        <input type="text" name="cidade" placeholder="Digite a cidade" required>
        <button type="submit">Buscar Clima</button>
    </form>
</body>
</html>
