<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/style_login.css">
    
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h2>Login</h2>
        <div>
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" />
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Entrar</button>
        
        <p th:if="${param.error}">Usuário ou senha inválidos</p>
        <p th:if="${param.logout}">Você saiu com sucesso</p>
    </form>

</body>
</html>
